ul.users {
  margin-top: 1em;
}

ul.projects {
  margin-top: 1em;
}

ul.projects li {
  list-style: none;
}

ul.users li {
  list-style: none;
}



div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

img.Logo {
  height: 32px;
  width: 32px;
}

div.tabs button{
  display: inline;
  float:left;
  cursor:pointer
}