.container {
  margin: 0 auto;
  width: 1000px;
}

body {
  background: #000;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #050;
}

section {
  margin-top: 1em;
  font-size: 200%;
  padding: 20px;
  background: #050;
}

section h1 {
  font-size: 200%;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  background: #050;
}

footer nav {
  float: none;
  background: #050;
}


#logo {
  height:250px;
  border: 1px solid #000;
  width:500px;
   display: block;
    margin-left: auto;
    margin-right: auto;
  background-color: #000;
}