<div id ="user_list" class ="user">
<li>
<tr>
  <td><%= link_to user.name, user %></td>
  <td><% if current_user.id == user.id %>
      	<%= link_to "Edit", edit_user_path(user) %>
        <% elsif current_user.isAdmin? %>
         	<%= button_to "delete", @user, :method => :delete %>
        <% end %>
   </td>
   </tr>
</li>
</div>