<li>
  <%= link_to client.name, client %>
   <% if current_user.isAdmin? %>
   <div class "buttons" id="delete_edit_buttons" style="display: inline" >
  	<%= button_to "edit", client, :method => :edit %>
  	<%= button_to "delete", client, :method => :delete %>
  </div>
  <% end %>
</li>
