<% if signed_in? %>
  <div> Active Tickets from all Projects </div>
  <table class="front" summary="Active Tickets">
    <tr>
      <td class="tickets">
        <%= render $active_tickets %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info'%>
      </td>
    </tr>
  </table>

  <div> Submit new Ticket </div>
  <%= link_to( "New Ticket", newticket_path) %>
<% end %> 