<% if signed_in? %>
  <% if !current_user.isClient? %>

      <div> Active Tickets from all Projects </div><br />
      <table class="front" summary="Active Tickets" border ="1">
        <tr>
        <th>Date</th>
        <th>Client</th>
        <th>Project</th>
        <th>State</th>
        <th>Priority</th>
        <th>Request Type</th>
        <th>Intervention</th>
        </tr>
        <%= render $active_tickets %>          
      </table>
  <% end %>

  <div> Submit new Ticket </div>
  <%= link_to( "New Ticket", newticket_path) %>
<% end %> 