<%= link_to( "New Project", new_project_path) %> <br />
<h1>All Projects</h1>
<% if !(@projects.empty?) %>
<%= will_paginate %>
<ul class="projects">
<table border ="1">
<tr>
<th>Project Title</th>
<th>Admin</th>
<th>Go To</th>
</tr>
  <%= render @projects %>
</ul>
</table>
<%= will_paginate %>
<% end %>
