<footer>
  <nav class="round">
    <ul>
    <div id = "links.footer">
      <li><%= link_to "About", about_path ,  :class => 'a'%></li>
      <li><%= link_to "Contact", contact_path ,  :class => 'a'%></li>
    </div>
    </ul>
  </nav>
  <nav class ="round" id>
  <ul>
  <% if signed_in? %>
  <div id ="updateMe" class="updateMe" >
    <%= render :partial => "pages/messages"  %>
  </div>
  <%= periodically_call_remote(:update => "updateMe", :frequency => 5, :url => { :controller => "pages", :action => :messages } ) %>
  <% end %>
  </ul>
  </nav>
</footer>