<footer>
  <nav class="round">
    <ul>
    <div id = "links.footer">
      <li><%= link_to "About", about_path ,  :class => 'a'%></li>
      <li><%= link_to "Contact", contact_path ,  :class => 'a'%></li>
    </div>
    </ul>
  </nav>
</footer>